@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-dark-line {
  height: 110px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.promo {
  height: 800px;
  background: url(../img/bg/main_bg.jpg) center/cover no-repeat;
  margin: 0 auto;
  padding: 0 0 61px 0;
}

.logo {
  margin-bottom: 30px;
}

.logo .logo__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 12px;
  width: 70px;
}

.logo__text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 41px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #f9bf3b;
}

h1 {
  margin-top: 20px;
}

.simple .title-big {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 80px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 21px;
}

h2.title {
  margin-top: 20px;
}

.promo .promo-text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-top: 23px;
  padding: 0 10px 0 10px;
}

.promo .promo-text span {
  font-family: "Roboto";
  font-weight: 700;
  color: #f9bf3b;
  text-transform: uppercase;
}

.promo .promo-btn {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  width: 313px;
  height: 72px;
  box-shadow: inset 0 0 0 rgba(0 0 0 0.18);
  background-image: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
  cursor: pointer;
  display: block;
  margin: 73px auto;
  outline: none;
}

.more {
  margin-top: 71px;
}

.more .more-text {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}

.more .more-img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.waiting {
  min-height: 607px;
  padding: 88px 0 75px 0;
  background-color: #efefef;
}

.waiting .waiting-header {
  color: #252525;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 19px 0;
}

.waiting .waiting-divider {
  background-color: #f9bf3b;
  width: 217px;
  height: 4px;
  margin: 0 auto;
}

.waiting .waiting-subheader {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  margin-top: 19px;
}

.waiting-wrapper {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.waiting .waiting-wrapper .waiting-item {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;

  width: 345px;
  text-align: center;
  vertical-align: top;
}

.waiting-img {
  margin-bottom: 26px;
}

.waiting .waiting-wrapper .waiting-item .waiting-img {
  width: 100%;
}

.optimization {
  min-height: 550px;
  padding: 108px 0 74px 0;
}
.container {
}
.optimization-header {
  margin-left: 391px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #299cbd;
}
.optimization-text {
  margin-left: 391px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  color: #4a4a4a;
}

.optimization-img {
  position: absolute;
  top: -47px;
  left: -240px;
  z-index: -1;
}
